{% extends 'layout.twig' %}

{% block body %}
{% if posts.isEmpty %}
    <div class="row">
        <h4 class="text-center">Your timeline seems empty, you should follow some people by using the searchbar :-)</h4>
        <br>
        <h5 class="text-right">The Kebagram team</h5>
    </div>
{% endif %}

{% for post in posts %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 feed">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path_for('user.profile', {'slug': post.user_slug}) }}" class="post-username">{{ post.user_name }}</a>
                    <span class="pull-right">{{ diffForHumans(post.created_at) }}</span>
                    {% if post.location %}<div>{{ post.location }}</div>{% endif %}
                </div>
                <div class="panel-body">
                    <img src="{{ base_url() }}/uploads/images/kebabs/{{ post.id }}.jpg" width="100%" alt="Kebab">
                    <div class="post-caption">
                        <a href="{{ path_for('user.profile', {'slug': post.user_slug}) }}" class="post-username">{{ post.user_name }}</a> <span class="post-description">{{ post.description|hashtag|mentions }}</span>
                        <hr>
                    </div>
                    <div class="post-comments">
                        <a href="#" class="display-comments" data-post-id="{{ post.id }}" data-url="{{ path_for('comment.get', {'id': post.id}) }}">Display comments</a>
                        <form action="{{ path_for('comment.add', {'id': post.id}) }}" method="POST">
                            <input type="text" name="content" class="form-control" placeholder="Post a comment...">
                            {{ csrf.field|raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/js/load-comments.js"></script>
{% endblock %}
