<div class="navbar navbar-warning">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path_for('home') }}">Kebagram</a>
        </div>
        <div class="navbar-collapse collapse navbar-warning-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                {% if auth.check %}
                    <li><a href="{{ path_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ path_for('notes') }}">Notes</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if auth.check %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth.user.user_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if auth.user.user_account_type == 1 %}
                                <li><a href="{{ path_for('admin.index') }}"><i class="fa fa-first-order"></i> Admin</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{{ base_url() }}/@{{ auth.user.user_name }}"><i class="fa fa-user"></i> Your profile</a></li>
                            <li><a href="{{ path_for('auth.password.change') }}"><i class="fa fa-cog"></i> Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path_for('auth.signout') }}"><i class="fa fa-sign-out"></i> Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path_for('auth.signup') }}">Sign up</a></li>
                    <li><a href="{{ path_for('auth.signin') }}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>