{% extends 'layout.twig' %}

{% block body %}

<div class="row">
    {% if users %}
        <div class="col-xs-12 panel">
            <div class="page-header">
                <h1>Results for: {{ q }}</h1>
            </div>
            <div class="list-group">
                {% if users.empty %}
                    <p>No results found for {{ q }}</p>
                {% endif %}
                {% for user in users %}
                    <div class="list-group-item">
                        <div class="row-picture">
                            {% set avatar = user.getAvatarPath() %}
                            {% if avatar %}
                                <img class="circle" src="{{ base_url() }}/{{ avatar }}" alt="Avatar">
                            {% else %}
                                <img class="circle" src="http://placehold.it/100x100" alt="Avatar">
                            {% endif %}
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading"><a href="{{ path_for('user.profile', {'slug': user.user_slug}) }}">{{ user.user_name }}</a></h4>
                            <p class="list-group-item-text"><strong>Firstname</strong> Lorem ipsum dolor sit amet</p>
                        </div>
                        {% if not loop.last %}
                            <div class="list-group-separator"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 panel">
                    <div class="page-header">
                        <h1>Results for: {{ q }}</h1>
                    </div>
                </div>
            </div>
            {% if posts.empty %}
                <p>No results found for {{ q }}</p>
            {% endif %}
            {% for post in posts %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 feed">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{{ path_for('user.profile', {'slug': post.user_slug}) }}" class="post-username">{{ post.user_name }}</a>
                                <span class="pull-right">{{ diffForHumans(post.created_at) }}</span>
                                {% if post.location %}<div>{{ post.location }}</div>{% endif %}
                            </div>
                            <div class="panel-body">
                                <img src="{{ base_url() }}/uploads/images/kebabs/{{ post.id }}.jpg" width="100%" alt="Kebab">
                                <div class="post-caption">
                                    <a href="{{ path_for('user.profile', {'slug': post.user_slug}) }}" class="post-username">{{ post.user_name }}</a> <span class="post-description">{{ post.description|hashtag|mentions }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
