{% extends 'layout.twig' %}
{% block title %}{{ parent() }} - {{ auth.user.user_name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="well" >
            <h2><i class="material-icons md-48">account_circle</i> My account</h2>
            <table class="table">
                <thead> <tr> <td/></tr> </thead>
                <tbody>

                <tr>
                    <th style="width:20%">Joined</th>
                    <td>{{ auth.user.created_at | date("m/d/Y") }}</td>
                    <td></td>
                </tr>

                <tr>
                    {% if edit == "username" %}
                        <th style="width:20%">Username</th>
                        <td>
                            <form action="saveEdit" method="POST" id="form">
                                 <div class="col-md-4">
                                    <input type="hidden" name="what" value="username">
                                    <input type="text" placeholder="New username" class="form-control" id="1" name="username">
                                    {{ csrf.field | raw }}
                                 </div>
                                 <div class="pull-left">
                                     <input type="submit" form="form" class="pull-right btn btn-primary" valu  e="Save" >
                                 </div>
                            </form>
                        </td>
                        <td/>
                    {% else %}
                        <th style="width:20%">Username</th>
                        <td>{{ auth.user.user_name }}</td>
                        <td style="text-align:right"><a href="?what=username">Edit</a></td>
                    {% endif %}

                <tr/>
                <tr>
                    {% if edit == "email" %}
                        <th style="width:20%">Email</th>
                        <td>
                            <form action="saveEdit" method="POST" id="form">
                                <div class="col-md-5">
                                    <input type="hidden" name="what" value="email">
                                    <input type="email" placeholder="New email address" class="form-control" name="email">
                                </div>
                                {{ csrf.field | raw }}
                                <input type="submit" required form="form" class="pull-right btn btn-primary" value="Save" >
                            </form>
                        </td>
                        <td/>
                    {% else %}
                        <th style="width:20%">Email</th>
                        <td>{{ auth.user.user_email }}</td>
                        <td style="text-align:right"><a href="?what=email">Edit</a></td>
                    {% endif %}
                </tr>
                <tr>
                    {% if edit == "password" %}
                        <th style="width:20%">Password</th>
                        <td>
                            <form action="saveEdit" method="POST" id="form">
                                 <div class="col-md-5">
                                    <input type="hidden" name="what" value="password">
                                    <input type="password" placeholder="New password" class="form-control" id="1" name="password1">
                                 </div>
                                 <div class="col-md-5">
                                    <input type="hidden" name="what" value="password">
                                    <input type="password" required placeholder="Confirm" class="form-control" id="2" name="password2">
                                    {{ csrf.field | raw }}
                                  </div>
                                <input type="submit" required form="form" class="pull-right btn btn-primary" value="Save" >
                            </form>
                        </td>
                        <td/>
                    {% else %}
                        <th style="width:20%">Password</th>
                        <td> &#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226; </td>
                        <td style="text-align:right"> <a href="?what=password">Edit</a></td>
                    {% endif %}
                </tr>

                </table>
            </br>
            <p class="text-right">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#complete-dialog">
                    <i class='material-icons'>delete_forever</i>Delete my account
                </button>

                <div id="complete-dialog" class="modal fade out">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Sorry to see you go !</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    By clicking the following button you are going to lose everything and it's irreversible.
                                    All your wonderful kebab photos are going to disappear. Are you sure to remove your account?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <form action="saveEdit" method="POST" id="form">
                                    <input type="hidden" name="what" value="remove">
                                    {{ csrf.field | raw }}
                                    <button type="submit" required form="form" class="pull-right btn btn-primary">
                                        I know what I'm doing
                                    </button>
                                </form>
                           </div>
                    </div>
                </div>
            </p>
        </div>
    </div>


{% endblock %}
