{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - {{ user.user_name }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 panel profile-header">

                    {% if auth.check %}
                        {% if auth.user.user_id == user.user_id %}
                             <div data-toggle="modal" data-target="#modal-setting" class="avatar"
                              style="background-image:url('{{ base_url() }}/{{ profile_picture }}');">
                        {% else %}

                             <div class="avatar" style="background-image:url('{{ base_url() }}/{{ profile_picture }}');">
                        {% endif %}
                    {% endif %}</div>

                            <div class="profile-info">
                                <h2>
                                    {{ user.user_name }}
                                    {% if auth.check %}
                                        {% if auth.user.user_id == user.user_id %}
                                            <a href="{{ path_for('edit.account') }}" class="btn btn-primary">Edit</a>
                                        {% else %}
                                            {% if is_following %}
                                                <a href="{{ path_for('user.unfollow', {'slug': user.user_slug}) }}"
                                                   class="btn btn-primary">Unfollow</a>
                                            {% else %}
                                                <a href="{{ path_for('user.follow', {'slug': user.user_slug}) }}"
                                                   class="btn btn-primary btn-raised">Follow</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </h2>
                                <ul class="list-unstyled list-inline">
                                    <li><strong>{{ count }}</strong> posts</li>
                                    <li><strong>{{ followers }}</strong> followers</li>
                                    <li><strong>{{ following }}</strong> following</li>
                                </ul>
                                <div class="profile-desc">
                                    <span class="profile-name">{{ user.location }}</span>
                                    {{ user.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 panel profile-photos">
                            {% if count > 0 %}
                            <div class="row">
                                {% for picture in pictures %}
                                    <div class="col-xs-4 photo">
                                        <img data-toggle="modal" data-target="#modal-{{ picture.id }}"
                                             src="{{ base_url() }}/{{ picture.getWebPath() }}" alt="Photo">
                                    </div>
                                    <!-- MODAL -->
                                    <div class="modal fade" id="modal-{{ picture.id }}" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="row">
                                                    <div class="col-lg-12 photo">
                                                        <img src="{{ base_url() }}/{{ picture.getWebPath() }}" alt="Photo">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="social">
                                                            <span class="auteur">{{ user.user_name }}</span>
                                                <span class="pull-right">
                                                     <form action="{{ path_for('photo.like') }}" method="post">
                                                         {{ csrf.field | raw }}
                                                         <input type="hidden" name="idPhoto" value="{{ picture.id }}"/>
                                                         <input type="hidden" name="userTarget"
                                                                value="{{ user.user_slug }}"/>
                                                         {% if picture.pictureRating.empty() %}
                                                             <input type="hidden" name="what" value="like"/>
                                                             <a href="#" onclick="$(this).closest('form').submit()"
                                                                title="Looks good!"><i class="material-icons">favorite_border</i></a>
                                                         {% else %}
                                                             <input type="hidden" name="what" value="dislike"/>
                                                             <a href="#" onclick="$(this).closest('form').submit()"
                                                                title="I don't like it anymore"><i style="color:red;"
                                                                                                   class="material-icons">favorite</i></a>
                                                         {% endif %}
                                                     </form>
                                                </span>
                                                            <hr>
                                                            <p class="photo-description">{{ picture.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                                {% else %}
                                    <p class="text-center">{{ user.user_name }} does not have any pictures yet</p>
                                {% endif %}
                            </div>
                            {% if pages > 1 %}
                                <div class="col-xs-12 text-center">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if page > 1 %}
                                                <li>
                                                    <a href="{{ path_for('user.profile', {'slug': user.user_slug}) }}?page={{ page - 1 }}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% for i in 1..pages %}
                                                <li{% if page == i %} class="active"{% endif %}>
                                                    <a href="{{ path_for('user.profile', {'slug': user.user_slug}) }}?page={{ i }}">
                                                        {{ i }}
                                                    </a>
                                                </li>
                                            {% endfor %}

                                            {% if pages > page %}
                                                <li>
                                                    <a href="{{ path_for('user.profile', {'slug': user.user_slug}) }}?page={{ page + 1 }}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL Setting-->
            <div class="modal fade" id="modal-setting" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"><i class="material-icons">camera_enhance</i> Edit your Profile Picture</h4>
                        </div>
                        <div class="modal-body">

                            <form action="{{ path_for('profilePicture.add') }}" method="POST" enctype="multipart/form-data">

                                <div class="form-group">
                                    <input type="file" id="picture-file" name="picture-file">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Choose file..." readonly>
                            <span class="input-group-btn input-group-sm">
                                <button type="button" class="btn btn-fab btn-fab-mini">
                                    <i class="material-icons">attach_file</i>
                                </button>
                            </span>
                                    </div>
                                </div>

                                {{ csrf.field|raw }}
                                <input type="submit" class="btn btn-primary btn-raised" value="Upload">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
    </div>
{% endblock %}
